.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.xsmall {
    font-size: x-small;
}

.small {
    font-size: small;
}

.large {
    font-size: large;
}

.xlarge {
    font-size: x-large;
}

.onepixel {
    border: 1px solid black;
}

.threepixels {
    border: 3px solid black;
}

.fivepixels {
    border: 5px solid black;
}
