.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.score {
    border: 1px solid black
}

.score {
    border: 3px solid black
}

.score {
    border: 5px solid black
}